DEPLOYMENT_URL=https://majoneko.github.io/
DEPLOYMENT_BRANCH=main
BASE_URL=/docusaurusDevBlog/
GITHUB_ORG=rjml
GITHUB_PROJECT=docusaurusDevBlog
GIT_REPOSITORY_URL=https://github.com/MajoNeko/docusaurusDevBlog